---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Jake Romero"
	description="Learn more about Jake Romero, a full-stack developer with 15 years of experience."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Jake Romero is a full-stack developer with 15 years of experience specializing in Java Spring Boot. He is passionate about solving problems with software and brings a wealth of knowledge to every project.
	</p>
</Layout>
